{% extends 'generic_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="debug">
  DEBUG: Page 11
</div>
<h1 class="jumbotron text-center">All Node Clients</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <form action="" method="GET">
        {{form|crispy}}
        <input type="submit" name="Search" value="Search">
      </form>
      <div class="card text-center">
        <div class="card-body">
          Here you can view all the clients of the system.
          <hr>
          <style type="text/css">
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          </style>
          <table class="tg table text-center">
            <tr>
              <th class="tg-cly1">Table Row</th>
              <th class="tg-cly1">Client Name</th>
              <th class="tg-cly1">Soft Delete</th>
              <th class="tg-cly1">Hard Delete</th>
            </tr>
            {% for client in page %}
            <tr>
              <td class="tg-cly1">{{ forloop.counter }}</td>
              <td class="tg-cly1">{{ client.username }}</td>
              <td class="tg-cly1">
                <a href={% url 'user_soft_delete' username=client.username %} class = "btn btn-danger">Soft Delete</a>
              </td>
              <td class="tg-cly1">
                <a href={% url 'user_hard_delete' username=client.username %} class = "btn btn-danger">Hard Delete</a>
              </td>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
  </div>
</div>
{% endblock %}
