{% extends 'generic_template.html' %}

{% block content %}
<div class="debug">
  DEBUG: Page 11
</div>
<h1 class="jumbotron text-center">All Node Clients</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="card text-center">
        <div class="card-body">
          Here you can view the clients that are members of your node.
          <hr>
          <style type="text/css">
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          </style>
          <table class="tg table text-center">
            <tr>
              <th class="tg-cly1">Table Row</th>
              <th class="tg-cly1">Client Name</th>
              <th class="tg-cly1">Current Privilege </th>
              <th class="tg-cly1">Change Privilege </th>
            </tr>
            {% for client in page %}
            <tr>
              <td class="tg-cly1">{{ forloop.counter }}</td>
              <td class="tg-cly1">{{ client.username }}</td>
              <td class="tg-cly1">{{ client.current_privilege }}</td>
              {% if client.current_privilege == "Client" %}
                <td class="tg-cly1"><a href={% url 'user_change_privilege_all_clients' username=client.username %} class="btn btn-danger">Make Admin</a></td>
              {% else %}
                <td class="tg-cly1"><a href={% url 'user_change_privilege_all_clients' username=client.username %} class="btn btn-danger">Remove Admin</a></td>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
  </div>
</div>
{% endblock %}
