{% extends 'generic_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="jumbotron text-center">Existing Questions</h1>
<div class="container text-center">
  Filter by Keywords
  <div class="row p-2"></div>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="keywords" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Keyword Dropdown
    </a>

    <div class="dropdown-menu" aria-labelledby="keywords">
      <a class="dropdown-item" href="#">Something</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="row p-4"></div>

  <table id="tablePreview" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Row Number</th>
        {% if request.session.current_sort == "question_id" and request.session.current_sort_direction == "ascending" %}
          <th><a href={% url 'sort_table' sort_by='question_id' sort_order='descending'%}>Question ID</a></th>
        {% elif request.session.current_sort == "question_id" and request.session.current_sort_direction == "descending" %}
          <th><a href={% url 'sort_table' sort_by='question_id' sort_order='ascending'%}>Question ID</a></th>
        {% else %}
          <th><a href={% url 'sort_table' sort_by='question_id' sort_order='ascending'%}>Question ID</a></th>
        {% endif %}
        {% if request.session.current_sort == "title" and request.session.current_sort_direction == "ascending" %}
          <th><a href={% url 'sort_table' sort_by='title' sort_order='descending'%}>Question Name</a></th>
        {% elif request.session.current_sort == "title" and request.session.current_sort_direction == "descending" %}
          <th><a href={% url 'sort_table' sort_by='title' sort_order='ascending'%}>Question Name</a></th>
        {% else %}
          <th><a href={% url 'sort_table' sort_by='title' sort_order='ascending'%}>Question Name</a></th>
        {% endif %}
        {% if request.session.current_sort == "submitting_user" and request.session.current_sort_direction == "ascending" %}
          <th><a href={% url 'sort_table' sort_by='submitting_user' sort_order='descending'%}>Submitting User</a></th>
        {% elif request.session.current_sort == "submitting_user" and request.session.current_sort_direction == "descending" %}
          <th><a href={% url 'sort_table' sort_by='submitting_user' sort_order='ascending'%}>Submitting User</a></th>
        {% else %}
          <th><a href={% url 'sort_table' sort_by='submitting_user' sort_order='ascending'%}>Submitting User</a></th>
        {% endif %}
        {% if request.session.current_sort == "number_of_submissions" and request.session.current_sort_direction == "ascending" %}
          <th><a href={% url 'sort_table' sort_by='number_of_submissions' sort_order='descending'%}>Number of Submissions</a></th>
        {% elif request.session.current_sort == "number_of_submissions" and request.session.current_sort_direction == "descending" %}
          <th><a href={% url 'sort_table' sort_by='number_of_submissions' sort_order='ascending'%}>Number of Submissions</a></th>
        {% else %}
          <th><a href={% url 'sort_table' sort_by='number_of_submissions' sort_order='ascending'%}>Number of Submissions</a></th>
        {% endif %}
        <th>My Submission</th>
        <th>Overview</th>
        <th>Start New Submission</th>
      </tr>
    </thead>
    <tbody>
      {% for question in question_set %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ question.question_id }}</td>
        <td>{{ question.title }}</td>
        <td>{{ question.submitting_user}}</td>
        <td>{{ question.number_of_submissions }}</td>
        <td>
            <a href={% url 'submissions_spec_my_subs' for_question=question.title %} class="btn btn-info">Details</a>
        </td>
        <td>
            <a href={% url 'questions_details' question_name=question.title %} class="btn btn-info">Details</a>
        </td>
        <td>
            <a href={% url 'submissions_new' for_question=question.title %} class="btn btn-primary">Start</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
