{% extends 'generic_template.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="jumbotron text-center">JCoin Client Registration</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <form method = "POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row p-4"></div>
            <button type="submit" class="btn btn-outline-secondary btn-lg btn-color square">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
{% endblock %}
