{% extends 'generic_template.html' %}

{% block content %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JCoin</title>
  <meta name="description" content="JCoin">
  <meta name="author" content="James Bateman">

  <!-- Boostrap.CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- JQuery.JS (used by Boostrap) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS (used by Boostrap) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <!-- Bootstrap.JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Custom JS -->
  <script src="a.js"></script>
  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1 class="jumbotron text-center">Welcome to JCoin</h1>
  <div class="container">
    <form class="card">
      <div class="card-body">
        <a class="btn btn-primary" href="/register" role="button">User Registration</a>
        <a class="btn btn-primary" href="/nodeegister" role="button">Register a New Node</a>
        <a class="btn btn-primary" href="/shirts" role="button">T Shirt Orders</a>
      </div>
      <!-- <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form> -->
  </div>

{% endblock %}
