{% extends 'generic_template.html' %}

{% block content %}
<h1 class="jumbotron text-center">My Questions</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <style type="text/css">
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          </style>
          <table class="tg">
            <tr>
              <th class="tg-cly1">Question Number</th>
              <th class="tg-cly1">Question name</th>
              <th class="tg-cly1">Submitting Node</th>
              <th class="tg-cly1">Total Number of Submissions</th>
              <th class="tg-cly1">My Submissions</th>
              <th class="tg-0lax">Overview</th>
            </tr>
            <tr>
              <td class="tg-cly1">1</td>
              <td class="tg-cly1">Mr Spectroscopy</td>
              <td class="tg-cly1">Node-Name</td>
              <td class="tg-cly1">3</td>
              <td class="tg-cly1">[Details]</td>
              <td class="tg-0lax">[Details]</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
{% endblock %}
